<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:400,700|Material+Icons">
    <title>Calculator</title>
    <base href="/">
  </head>
  <body ng-app="calculator" ng-strict-di>
    <main layout="column" ng-cloak>
      <header ng-include="'header.html'"/>
      <md-content ng-view layout-padding/>
    </main>
  </body>
</html>